/* client/src/pages/archive/index.css */

.archive-header {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.archive-header h1 {
  font-weight: 400;
}

.archive-header p {
  font-size: 0.9rem;
}

.archive-search {
  display: flex;
  gap: 2rem;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid rgb(207, 207, 207);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.archive-search p {
  color: rgb(92, 92, 92);
  font-weight: 500;
}

.archive-table {
  border: 2px solid rgb(207, 207, 207);
  color: rgb(64, 64, 64);
}

.archive-table-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  gap: 1rem;
}

.archive-table-header span {
  flex: 1;
  font-weight: 550;
}

.archive-table-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid rgb(207, 207, 207);
  gap: 1rem;
  cursor: pointer;
}

.archive-table-expanded {
  border-top: 1px solid rgb(207, 207, 207);
  overflow: scroll;
}

.archive-table-body:hover {
  background-color: rgb(242, 242, 242);
}

.archive-table-body span {
  flex: 1;
  font-size: 0.9rem;
}

.archive-table-expanded {
  cursor: default;
  display: flex;
}

.expanded-rows-container {
  flex: 1;
}

.expanded-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
  width: 900px;
}

.expanded-row span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded-image {
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.expanded-image div {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
}

.expanded-image img {
  width: auto;
  height: 150px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.expanded-image img:hover {
  transform: scale(1.05);
}